@import "../../styles/variables.scss";

.Button {
  color: $White;
  background-color: $Black;
  padding: 1em 2.5em;
  border-radius: $BorderRadius;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  width: 100%;
  transition: 200ms all ease-in;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.light {
  color: $Black;
  background-color: $White;
}
