@import "../../../styles/variables.scss";

.Footer {
  width: 100%;
  background-color: $Black;
  padding: 3em 0 1em;
  position: relative;

  a {
    color: $White;
  }

  p {
    color: $White;
  }

  .Container {
    width: clamp(350px, 90%, 1200px);
    margin: 0 auto;

    .Sections {
      @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 30% 1fr 1fr;
      }

      li {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        h2 {
          padding: 1em 0;
        }
      }
    }

    .Copy {
      margin-top: 6em;
      
      @media (min-width: 700px) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
