@import "../../styles/variables.scss";

.Home {
  width: clamp(350px, 90%, 1200px);
  margin: 0 auto;

  .Hero {
    position: relative;
    padding-bottom: 5em;

    .HeroContent {
      margin-bottom: 4em;

      @media (min-width: 700px) {
        display: flex;
      }

      .Left {
        margin: 5.5em 0;

        @media (min-width: 700px) {
          width: 150%;
          max-width: 45em;
        }

        p {
          margin: 2em 0;
          max-width: 28em;
        }

        .Actions {
          display: flex;
          gap: 1em;
          max-width: 25em;
        }
      }

      .Image {
        align-self: center;
        min-width: 28em;

        @media (max-width: 950px) {
          min-width: 18em;
        }

        @media (max-width: 700px) {
          display: none;
        }
      }
    }

    .SocialProof {
      position: absolute;
      bottom: 0;
      z-index: 1;
      display: flex;
      gap: 3em;
      background-color: $White;
      padding: 3em 5em;
      box-shadow: $Shadow;
      border-radius: $BorderRadius;
      width: 90%;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 1200px) {
        display: none;
      }

      h3 {
        margin: 1em 0;
      }
    }
  }
}
