@import "../../styles/variables.scss";

.Home {
  display: grid;
  place-items: center;

  .Hero {
    position: relative;
    width: clamp(350px, 90%, 1200px);
    margin: 0 auto;

    .HeroContent {
      @media (min-width: 700px) {
        display: flex;
      }

      @media (min-width: 1200px) {
        padding-bottom: 8em;
      }

      .Left {
        margin: 5.5em 0;

        @media (min-width: 700px) {
          width: 150%;
          max-width: 45em;
        }

        p {
          margin: 2em 0;
          max-width: 28em;
        }

        .Actions {
          display: flex;
          gap: 1em;
          max-width: 25em;
        }
      }

      .Image {
        align-self: center;
        min-width: 28em;

        @media (max-width: 950px) {
          min-width: 18em;
        }

        @media (max-width: 700px) {
          display: none;
        }
      }
    }

    .SocialProof {
      position: absolute;
      bottom: 0;
      z-index: 1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4em;
      background-color: $White;
      padding: 3em 5em 2em;
      box-shadow: $Shadow;
      border-radius: $BorderRadius;
      width: 90%;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 1200px) {
        display: none;
      }

      .Ratings {
        display: flex;
        gap: .2em;
        opacity: .9;
      }

      h3 {
        margin: .5em 0 1em;
      }
    }
  }

  .Info {
    position: relative;

    .InfoContainer {
      width: clamp(350px, 90%, 1200px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 8.5em auto;

      .Right {
        width: clamp(300px, 100%, 900px);
        margin-left: 15em;

        p {
          margin: 4em 0;
        }
      }
    }

    .Backsplash > * {
      position: absolute;
      font-weight: 900;
      font-size: 130px;
      line-height: 160%;
      letter-spacing: 0.27em;
      text-transform: uppercase;
      color: #f0f0f0;
      z-index: -1;
    }

    .Slingshot {
      top: 0;
      left: 0;
    }

    .Effect {
      top: 70%;
      right: 0;
    }
  }
}
