@import "../../styles/variables.scss";

.Features {
  margin: 5em 0;
  width: clamp(350px, 90%, 1200px);
  display: grid;
  place-items: center;

  @media (min-width: 1200px) {
    margin: 10em 0;
  }

  .Grid {
    display: grid;
    gap: 2em;
    margin-top: 5em;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .Icon {
      background-color: $White;
      box-shadow: $Shadow;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: grid;
      place-content: center;
    }

    h3 {
      margin: 2em 0 1em;
    }
  }
}
