@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&display=swap");
@import "./variables.scss";

*,
*::before,
*::after,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $MainBackground;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $Black;
  font-size: 0.875rem;
  font-weight: 400;
  transition: 200ms all ease-in;

  @media (max-width: 700px) {
    font-size: 0.7rem;
  }

  &:hover {
    opacity: 0.8;
  }
}

.Gradient {
  background-image: $Gradient;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.BigTitle {
  font-size: 40px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0.27em;
  text-transform: uppercase;

  @media (max-width: 950px) {
    font-size: 30px;
  }
}

.BigCaption {
  font-weight: 300;
  font-size: 18px;
  line-height: 135%;
  // letter-spacing: 0.1em;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.1em;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: $White;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
}

p {
  font-weight: 300;
  font-size: 12px;
  line-height: 135%;
  // letter-spacing: 0.1em;
}
