$Black: #000;
$Grey: #f0f0f0;
$MainBackground: #fcfcfc;
$White: #fff;
$Gradient: linear-gradient(90.56deg, #f01b24 0.56%, #8d0e1b 123.12%);

$Shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
$BorderRadius: 6px;
