@import "../../styles/variables.scss";

.About {
  display: grid;
  place-items: center;
  margin: 8em auto 5em;

  .Hero {
    width: clamp(350px, 90%, 1200px);
    text-align: center;
    position: relative;

    .BackSplash {
      position: absolute;
      z-index: -1;
      top: 0;
      width: 100%;
      opacity: 0.1;
    }

    h1 {
      margin: 0.5em auto 0.5em;
      max-width: 1100px;
    }

    p {
      max-width: 760px;
      margin: auto;
    }
  }

  .Cards {
    width: clamp(350px, 90%, 1200px);
    display: grid;
    gap: 5em;

    @media (min-width: 950px) {
      display: flex;
    }

    .Card {
      display: flex;
      background-color: $White;
      box-shadow: $Shadow;
      border-radius: $BorderRadius;

      .Img {
        border-radius: $BorderRadius 0 0 $BorderRadius;
        overflow: hidden;
      }

      .Text {
        padding: 4em 2em;

        h3 {
          margin: 1em 0;
        }
      }
    }
  }

  .Faq {
    width: clamp(350px, 90%, 1200px);
    margin: 5em 0;
    display: grid;
    gap: 10%;
    font-family: "Montserrat", sans-serif;

    @media (min-width: 700px) {
      grid-template-columns: 16em 1fr;
    }

    .Accordion {
      box-shadow: none;
      padding: 1em 0;
      background-color: $MainBackground;
      border-bottom: 3px solid $Grey;

      &::before {
        display: none;
      }
    }

    .Question {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
    }

    .Answer {
      font-family: "Montserrat", sans-serif;
    }
  }
}
